@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --blue: rgb(75, 77, 241);
    --eeg-white: #F5EDDC;
    --grey: #CFD2CF;
    --pink: #FA9494;
    --red: #EB1D36;
}

body {
    background-color: var(--eeg-white);
    font-family: 'Bebas Neue', cursive;
    padding: 20px;
    
}
.titulo {
    font-size: 70px;
    color: black;
    height: 70px; 
    width: 340px;
    padding: 10px;
    margin: 10px;  
}

.titulo_elige-ataque {
    width: 100%;
}
.subtitulo {
    color: var(--red);
    font-size: 35px;

    margin: 10px;
    padding: 10px;
}
section {
    text-align: center;
}

.tarjetas-de-mokepon {
    background-color: var(--pink);
    
    width: 200px;
    height: 200px;
    font-size: 24px;
    
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
   
    padding: 10px;
    border-radius: 50%;
    margin: 20px;
    border: 5px solid black;
}
.tarjetas-de-mokepon:active {
    background-color: var(--red);
}
.tarjetas-de-mokepon img {
    width: 150px;
    height: 150px;
}

input {
    width: 20px;
    height: 20px;
    display: none;
}

button {
    background-color: var(--grey);
    width: 110px;
    height: 50px;
    padding: 10px;
    margin: 10px 0 0 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    font-weight: bold;
}

button:active {
    background-color: var(--red);
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#seleccionar-mascota form {
    padding: 20px;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botones-ataque  {
    display: flex;
    justify-content: space-around;

    height: 70px;
    width: 400px;
    margin: 20px;
    padding: 8px;
    gap: 20px;
}
.botones-ataque button {
    border-radius: 10px;
}
.botones-ataque button:disabled {
    background-color: var(--eeg-white);
}
p {
    font-size: 20px;
}

.caja-mascotas {
    display: flex;
    width: 100%;
}

.caja-mascotas > div {
    margin: 20px;
    
    width: 50%;
    height: 100%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: var(--pink);
}

.nombre {
    font-size: 40px;
    margin: 5px;
    color: var(--eeg-white);
    -webkit-text-stroke: 1.6px black;
    border: 1px solid;
}

#mascota-jugador,
#mascota-enemigo {
    font-size: 24px;
    font-weight: bold;
}

#vidas-jugador,
#vidas-enemigo {
    font-size: 100px;
    color: var(--eeg-white);
    -webkit-text-stroke: 2px black;
}

.status-jugador,
.status-enemigo {
    display: flex;
    align-items: center; 
    /* Quitar en alterior para moviles */
    justify-content: center;
    gap: 25px;

    padding: 20px;
}

.status-jugador div:first-child,
.status-enemigo div:first-child {
    width: 30%;
    /* margin-top: 30px ESTE SERVIRA PARA DISPOSITIVOS PEQUEÑOS*/
    
    /* display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column; */ 
    /* Poner anteriores 4 para moviles */
}

#resultado-combate {
    width: 300px;
    height: 60px;
    margin: 24px;
    border: 2px solid var(--blue);
    border-radius: 10px;
    font-size: 30px;
    color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

#mensajes {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#mensajes p {
    width: 500px;
    height: 80px;
    
    margin: 24px;
    border: 3px solid var(--pink);
    border-radius: 10px;
    
    font-size: 45px;

    background-color: var(--red);
    color: var(--eeg-white);
    -webkit-text-stroke: 2px black;

    display: flex;
    justify-content: center;
    align-items: center;
}
#boton-reiniciar {
    margin: 12px;
}

#boton-mascota:active,
#boton-reiniciar:active {
    background-color: var(--blue);
}