@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --eeg-white: #F5EDDC;
    --grey: #CFD2CF;
    --pink: #FA9494;
    --red: #EB1D36;
}

body {
    background-color: var(--eeg-white);
    font-family: 'Bebas Neue', cursive;
    
}
.titulo {
    font-size: 70px;
    color: black;
    height: 180px; 
    width: 340px;
    padding: 10px;
    margin: 10px;  
}

.titulo_elige-ataque {
    width: 100%;
}
.subtitulo {
    color: var(--red);
    font-size: 35px;

    margin: 10px;
    padding: 10px;
}
section {
    text-align: center;
}

.tarjetas-de-mokepon {
    background-color: var(--pink);
    
    width: 200px;
    height: 200px;
    
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
   
    padding: 10px;
    border-radius: 50%;
    margin: 20px;
    border: 5px solid black;
}
.tarjetas-de-mokepon img {
    width: 150px;
    height: 150px;
}

input {
    width: 20px;
    height: 20px;
    display: none;
}

button {
    background-color: var(--grey);
    width: 110px;
    height: 50px;
    padding: 10px;
    margin: 10px;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#seleccionar-mascota form {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 20px;
}